{{- $params := .Params | merge .Site.Params.page -}}

<article class="single summary" itemscope itemtype="http://schema.org/Article">
  {{- /* Featured image */ -}}
  {{- $image := $params.featuredimagepreview | default $params.featuredimage -}}
  {{- with .Resources.GetMatch "featured-image" -}}
    {{- $image = .RelPermalink -}}
  {{- end -}}
  {{- with .Resources.GetMatch "featured-image-preview" -}}
    {{- $image = .RelPermalink -}}
  {{- end -}}
  {{- with $image -}}
    <div class="featured-image-preview">
      <a href="{{ $.RelPermalink }}" aria-label="{{ $.Title }}">
        {{- dict "Src" . "Title" $.Description "Alt" $.Title "Resources" $.Resources | partial "plugin/image.html" -}}
      </a>
    </div>
  {{- end -}}

  {{- /* Title */ -}}
  <h2 class="single-title" itemprop="name headline">
    {{- with $params.weight -}}
      {{- $icon := dict "Class" "fa-solid fa-thumbtack fa-fw" -}}
      <span title="{{ T "single.pin" }}" class="icon-pin">{{- $icon | partial "plugin/icon.html" -}}</span>
    {{- end -}}
    {{- $repost := $params.repost | default dict -}}
    {{- with $repost -}}
      {{- if eq .Enable true -}}
        {{- $icon := dict "Class" "fa-solid fa-share fa-fw" -}}
        {{- $title := cond (hasPrefix .Url "http") (printf "%v -> %v" (T "single.repost") .Url ) (T "single.repost") -}}
        <span title="{{ $title }}" class="icon-repost">{{- $icon | partial "plugin/icon.html" -}}</span>
      {{- end -}}
    {{- end -}}
    {{- $truncatedTitle := .LinkTitle | truncate 12 "..." -}}
    <a href="{{ .RelPermalink }}">{{ $truncatedTitle }}</a>
  </h2>

  {{- /* Meta */ -}}
  <div class="post-meta">

    {{- with .PublishDate | dateFormat (.Site.Params.dateFormat | default "2006-01-02") -}}
      <span class="post-publish" title='{{ "2006-01-02 15:04:05" | $.PublishDate.Format }}'>
        <time datetime="{{ . }}">{{ . }}</time>
      </span>
    {{- end -}}

    {{- $categoriyTerms := .GetTerms "categories" -}}
    {{- if $categoriyTerms -}}
      {{- with index $categoriyTerms 0 -}}
        <a href='/categories/{{ .LinkTitle | urlize }}' class="post-categoriy">{{ .LinkTitle }}</a>
      {{- end -}}
    {{- end -}}
  </div>

  {{- /* Footer */ -}}
  <div class="post-footer">
    {{- $tagTerms := .GetTerms "tags" -}}
    {{- if $tagTerms -}}
        {{- range $tagTerms -}}
          <a href='/tags/{{ .LinkTitle | urlize }}' class="post-tag">{{ .LinkTitle }}</a>
        {{- end -}}
    {{- end -}}
  </div>
</article>
