<div class="widgets">
  {{- $backToTop := .Site.Params.backToTop -}}
  {{- $comment := .Scratch.Get "comment" -}}
  {{- if $backToTop.enable | or $comment.enable -}}
    <div class="fixed-buttons animate__faster d-none">
      {{- /* back to top button */ -}}
      {{- if $backToTop.enable -}}
        <div class="fixed-button back-to-top" role="button" aria-label="{{ T `baseof.backToTop` }}">
          {{- dict "Class" "fa-solid fa-arrow-up fa-fw" | partial "plugin/icon.html" -}}
        </div>
      {{- end -}}
      {{- /* comment button */ -}}
      {{- if $comment.enable -}}
        <div class="fixed-button view-comments d-none" role="button" aria-label="{{ T `baseof.viewComments` }}">
          {{- dict "Class" "fa-solid fa-comment fa-fw" | partial "plugin/icon.html" -}}
        </div>
      {{- end -}}
    </div>
  {{- end -}}

</div>